* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus {
 /* TODO */
}

body {
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(27,9,121,1) 41%, rgba(0,212,255,1) 82%);
color: black;
}

input {
 flex: 1;
 height: 50px;
 background: transparent;
 border: 0;
 outline: 0;
 font-size: 18px;
 color: #333;
 margin-left: 10px;
}

.search-container {
 width: 600px;
 background: #fff;
 margin: 200px auto 0;
 border-radius: 5px;

}

::placeholder{
  color: grey;
}

.search-container input,
.search-container .suggestions {
  /* TODO */
}
.search-container input {
 /* TODO */
}
.search-container .suggestions {

}

ul {
  width: 100%;
  border-top: 1px solid #999;
  padding: 15px 10px;
}

ul.has-suggestions {
  /* TODO */
}
ul li {
  list-style: none;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
}

ul li:hover {
  background: #e9f3ff;
}